// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
}

main {
    min-height: 73vh;
}

.card {
    cursor: pointer;
}

.card-maded{

    transition: 0.5s ease-in-out;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.02) translateY(-8px);
        box-shadow: 0 0 14px lightblue;
    }

}

.card-show {
    overflow-y: auto;
    width: 60rem;
    height: 40rem;
}

.card-img {
    width: 100%;
    height: 40%;
    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
